@model IEnumerable<manualUploader.Models.UploadedTable>
@{
    ViewData["Title"] = "Home Page";
}
       <h2 class="title">Welcome to manual uploader</h2>
       <form class="form-upload" asp-controller="Home" asp-action="SingleFile" enctype="multipart/form-data" method="post">
            <input class="form-upload__input visually-hidden" id="file" type="file" name="file" accept="text/plain, .csv" value="Upload your file" />
            <label class="form-upload__label button" for="file">Choose your file</label>
            <span class="form-upload__filename">File name</span>
            <button class="button button--small button--yellow">Upload</button>
       </form>
<script src ="~/js/inputFile.js"></script>
