@model IEnumerable<manualUploader.Models.UploadedTable>
@{
    ViewData["Title"] = "Home Page";
}
    <div class="wrapper">
        <div class="text-center">
            <h2>Welcome to manual uploader</h2>
            <form asp-controller="Home" asp-action="SingleFile" enctype="multipart/form-data" method="post">
                <input type="file" name="file" accept="text/plain, .csv" value="Upload your file" />
                <button>Upload</button>
            </form>

        </div>
    </div>